<h2>Register</h2>

<%= form_for @user, html: {id: "create-user"} do |f| %>
  <%= f.text_field :username, placeholder: "username" %>
  <%= f.text_field :email, placeholder: "email" %>
  <%= f.password_field :password, placeholder: "password" %>
  <%= f.submit "Create" %>
<% end %>

<% if @errors %>
  <% @errors.each do |error| %>
    <%= error %>
  <% end %>
<% end %>